<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <button class="btn btn-link" (click)="onGoBack()"><< Back</button>
  <div class="single-thing-pane">
    <img [src]="course?.imageUrl" alt="">
    <div class="single-thing-info">
      <h1>{{ course?.title }}</h1>
      <h2 class="single-thing-price">{{ course?.description }}</h2>
      <p>{{ course?.content }}</p>
      <button class="btn btn-success m-1" (click)="onModify()" [disabled]="part >= 3 && userId !== course?.userId">Modify</button>
      <button class="btn btn-danger m-1" (click)="onDelete()" [disabled]="part >= 3 && userId !== course?.userId">Delete</button>
    </div>
  </div>
</div>
